* {
  box-sizing: border-box;
  font-family: "Overpass", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  font-style: normal;
  color: #0b3140;
}
@media only screen and (max-width: 480px) {
  * {
    text-align: center;
  }
}
@media only screen and (min-width: 813px) and (max-width: 1024px) {
  * {
    text-align: center;
  }
}
@media only screen and (min-width: 481px) and (max-width: 812px) {
  * {
    text-align: center;
  }
}

body {
  background-image: url("../../images/grain.png");
  background-color: #cccccc;
  background-repeat: repeat;
  margin: 0 auto;
  max-width: 1200px;
  overflow-x: hidden;
}
@media only screen and (max-width: 480px) {
  body {
    width: 100%;
  }
}
@media only screen and (min-width: 481px) and (max-width: 812px) {
  body {
    width: 100%;
  }
}

a {
  text-decoration: none;
}

h1,
h3 {
  margin: 0;
}

h2 {
  font-size: 2.8rem;
}

main,
header {
  margin: auto 2rem auto 2rem;
}
@media only screen and (min-width: 813px) and (max-width: 1024px) {
  main,
  header {
    margin-top: 3rem;
  }
}

footer {
  width: 100%;
  position: absolute;
  left: 0px;
}

h1,
h2 {
  font-family: "Fjalla One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

p {
  margin: 0;
  text-align: justify;
  font-size: 1.35rem;
}
@media only screen and (max-width: 480px) {
  p {
    text-align: center;
  }
}
@media only screen and (min-width: 813px) and (max-width: 1024px) {
  p {
    text-align: center;
  }
}
@media only screen and (min-width: 481px) and (max-width: 812px) {
  p {
    text-align: center;
  }
}

section {
  margin-top: 6rem;
  padding: 3rem;
  border-radius: 30px;
  box-shadow: 3px 3px 9px 0px #000000;
}

button {
  cursor: pointer;
}

.orange__title {
  color: #ba5624;
  font-family: "Fjalla One", sans-serif;
}

.orange__word {
  color: #ba5624;
}
@keyframes rotateThisHand {
  0% {
    transform: rotate(-10deg);
  }
  10% {
    transform: rotate(10deg);
  }
  20% {
    transform: rotate(-10deg);
  }
  30% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}
@keyframes moveThisPen {
  0% {
    transform: translate(-82%, -50%);
  }
  10% {
    transform: translate(-52%, -50%);
  }
  18% {
    transform: translate(-82%, -43%);
  }
  26% {
    transform: translate(-52%, -43%);
  }
  34% {
    transform: translate(-82%, -36%);
  }
  42% {
    transform: translate(-52%, -36%);
  }
  50% {
    transform: translate(-82%, -29%);
  }
  58% {
    transform: translate(-52%, -29%);
  }
  62% {
    transform: translate(0, 0);
  }
  90% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-82%, -50%);
  }
}
@keyframes shakeThisPen {
  0% {
    transform: rotate(0deg);
  }
  35% {
    transform: rotate(2deg);
  }
  70% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0);
  }
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes menuSpawn {
  0% {
    margin: 0rem 0rem -15rem 0rem;
  }
  100% {
    margin: 1.5rem 0rem 0rem 0rem;
  }
}
@keyframes menuSpawnTablets {
  0% {
    margin: 0rem 0rem -10.5rem 0rem;
  }
  100% {
    margin: 3rem 0rem 0rem 0rem;
  }
}
@keyframes menuFade {
  0% {
    margin: 1.5rem 0rem 0rem 0rem;
  }
  100% {
    margin: 0rem 0rem -15rem 0rem;
  }
}
@keyframes menuFadeTablets {
  0% {
    margin: 3rem 0rem 0rem 0rem;
  }
  100% {
    margin: 0rem 0rem -10.5rem 0rem;
  }
}
@keyframes blinkThisXpBar {
  0% {
    border: 4px solid #def9ff;
  }
  50% {
    border: 4px solid #202926;
  }
  100% {
    border: 4px solid #def9ff;
  }
}
@keyframes rotateThisArrow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(450deg);
  }
}
@keyframes rotateThisArrowBack {
  0% {
    transform: rotate(450deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
header {
  background: #eeede9;
  position: absolute;
  top: 0px;
  width: 100%;
  left: 0px;
  margin: 0px;
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.8);
  padding-top: 1rem;
  padding-bottom: 2rem;
}
@media only screen and (min-width: 813px) and (max-width: 1024px) {
  header {
    position: relative;
  }
}
@media only screen and (min-width: 481px) and (max-width: 812px) {
  header {
    position: relative;
  }
}
@media only screen and (max-width: 480px) {
  header {
    position: relative;
  }
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.4rem;
  overflow: hidden;
}
@media only screen and (max-width: 480px) {
  .nav {
    justify-content: center;
    -moz-column-gap: 3rem;
    column-gap: 3rem;
    flex-wrap: wrap;
  }
}
@media only screen and (min-width: 481px) and (max-width: 812px) {
  .nav {
    justify-content: center;
    -moz-column-gap: 3rem;
    column-gap: 3rem;
    flex-direction: column;
    row-gap: 0rem;
  }
}
@media only screen and (min-width: 813px) and (max-width: 1024px) {
  .nav {
    justify-content: center;
    -moz-column-gap: 3rem;
    column-gap: 3rem;
    flex-direction: column;
    row-gap: 0rem;
    width: 70%;
    margin: 0 auto;
  }
}
.nav__titleAndButton {
  display: flex;
  align-items: center;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
}
@media only screen and (max-width: 480px) {
  .nav__titleAndButton {
    justify-content: space-evenly;
    width: 98%;
  }
}
@media only screen and (min-width: 481px) and (max-width: 812px) {
  .nav__titleAndButton {
    justify-content: space-between;
    width: 95%;
  }
}
@media only screen and (min-width: 813px) and (max-width: 1024px) {
  .nav__titleAndButton {
    justify-content: space-between;
    width: 100%;
  }
}
.nav__titleAndButton__lines {
  display: none;
  background: none;
  border: 3px solid #0b3140;
  max-height: 60px;
}
.nav__titleAndButton__lines:hover {
  background: #0b3140;
}
.nav__titleAndButton__lines:hover > i {
  color: #eeede9;
}
@media only screen and (max-width: 480px) {
  .nav__titleAndButton__lines {
    display: inline;
    font-size: 1.8rem;
  }
}
@media only screen and (min-width: 481px) and (max-width: 812px) {
  .nav__titleAndButton__lines {
    display: inline;
    font-size: 2.5rem;
  }
}
@media only screen and (min-width: 813px) and (max-width: 1024px) {
  .nav__titleAndButton__lines {
    display: inline;
    font-size: 2.5rem;
  }
}
.nav__titleAndButton__name {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 500;
  font-family: "Fjalla One", sans-serif;
}
@media only screen and (max-width: 480px) {
  .nav__titleAndButton__name {
    text-decoration: underline;
  }
}
@media only screen and (min-width: 481px) and (max-width: 812px) {
  .nav__titleAndButton__name {
    font-size: 3rem;
  }
}
.nav__titleAndButton__name__lastName {
  font-family: "Fjalla One", sans-serif;
  color: #ba5624;
}
@media only screen and (min-width: 481px) and (max-width: 812px) {
  .nav__links {
    width: 50%;
  }
}
.nav__links__content {
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 480px) {
  .nav__links__content {
    font-size: 1.3rem;
    margin: 0rem 0rem -15rem 0rem;
    justify-content: space-between;
  }
}
@media only screen and (min-width: 481px) and (max-width: 812px) {
  .nav__links__content {
    font-size: 1.3rem;
    margin: 0rem 0rem -15rem 0rem;
    justify-content: space-between;
  }
}
@media only screen and (min-width: 813px) and (max-width: 1024px) {
  .nav__links__content {
    font-size: 1.3rem;
    margin: 0rem 0rem -15rem 0rem;
    justify-content: space-between;
    flex-direction: row;
  }
}
@media only screen and (max-width: 480px) {
  .nav__links__content.displayed {
    border: 3px dashed #0b3140;
    padding: 1rem;
    display: flex;
    row-gap: 0.5rem;
    flex-direction: column;
    animation: menuSpawn 1s both ease-in-out;
    margin-top: 0rem;
  }
}
@media only screen and (min-width: 481px) and (max-width: 812px) {
  .nav__links__content.displayed {
    border: 3px dashed #0b3140;
    padding: 1rem;
    display: flex;
    row-gap: 0.5rem;
    flex-direction: column;
    animation: menuSpawn 1s both ease-in-out;
    margin-top: 0rem;
  }
}
@media only screen and (min-width: 813px) and (max-width: 1024px) {
  .nav__links__content.displayed {
    border: 3px dashed #0b3140;
    padding: 1rem;
    display: flex;
    row-gap: 0.5rem;
    animation: menuSpawnTablets 1s both ease-in-out;
    margin-top: 0rem;
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 480px) {
  .nav__links__content.hidden {
    border: 3px dashed #0b3140;
    padding: 1rem;
    display: flex;
    row-gap: 0.5rem;
    flex-direction: column;
    margin-top: 0rem;
    animation: menuFade 1s both ease-in-out;
  }
}
@media only screen and (min-width: 481px) and (max-width: 812px) {
  .nav__links__content.hidden {
    border: 3px dashed #0b3140;
    padding: 1rem;
    display: flex;
    row-gap: 0.5rem;
    flex-direction: column;
    margin-top: 0rem;
    animation: menuFade 1s both ease-in-out;
  }
}
@media only screen and (min-width: 813px) and (max-width: 1024px) {
  .nav__links__content.hidden {
    border: 3px dashed #0b3140;
    padding: 1rem;
    display: flex;
    row-gap: 0.5rem;
    margin-top: 0rem;
    animation: menuFadeTablets 1s both ease-in-out;
    flex-wrap: wrap;
  }
}
.nav__links__content__clickable {
  padding: 1rem;
  font-family: "Fjalla One", sans-serif;
}
@media only screen and (max-width: 480px) {
  .nav__links__content__clickable {
    padding: 0.5rem 0 0.5rem 0;
  }
}
@media only screen and (min-width: 481px) and (max-width: 812px) {
  .nav__links__content__clickable {
    padding: 0.5rem 0 0.5rem 0;
  }
}
@media only screen and (min-width: 813px) and (max-width: 1024px) {
  .nav__links__content__clickable {
    width: 50%;
  }
}
.nav__links__content__clickable:hover {
  color: #ba5624;
  text-decoration: underline;
}
@keyframes rotateThisHand {
  0% {
    transform: rotate(-10deg);
  }
  10% {
    transform: rotate(10deg);
  }
  20% {
    transform: rotate(-10deg);
  }
  30% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}
@keyframes moveThisPen {
  0% {
    transform: translate(-82%, -50%);
  }
  10% {
    transform: translate(-52%, -50%);
  }
  18% {
    transform: translate(-82%, -43%);
  }
  26% {
    transform: translate(-52%, -43%);
  }
  34% {
    transform: translate(-82%, -36%);
  }
  42% {
    transform: translate(-52%, -36%);
  }
  50% {
    transform: translate(-82%, -29%);
  }
  58% {
    transform: translate(-52%, -29%);
  }
  62% {
    transform: translate(0, 0);
  }
  90% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-82%, -50%);
  }
}
@keyframes shakeThisPen {
  0% {
    transform: rotate(0deg);
  }
  35% {
    transform: rotate(2deg);
  }
  70% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0);
  }
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes menuSpawn {
  0% {
    margin: 0rem 0rem -15rem 0rem;
  }
  100% {
    margin: 1.5rem 0rem 0rem 0rem;
  }
}
@keyframes menuSpawnTablets {
  0% {
    margin: 0rem 0rem -10.5rem 0rem;
  }
  100% {
    margin: 3rem 0rem 0rem 0rem;
  }
}
@keyframes menuFade {
  0% {
    margin: 1.5rem 0rem 0rem 0rem;
  }
  100% {
    margin: 0rem 0rem -15rem 0rem;
  }
}
@keyframes menuFadeTablets {
  0% {
    margin: 3rem 0rem 0rem 0rem;
  }
  100% {
    margin: 0rem 0rem -10.5rem 0rem;
  }
}
@keyframes blinkThisXpBar {
  0% {
    border: 4px solid #def9ff;
  }
  50% {
    border: 4px solid #202926;
  }
  100% {
    border: 4px solid #def9ff;
  }
}
@keyframes rotateThisArrow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(450deg);
  }
}
@keyframes rotateThisArrowBack {
  0% {
    transform: rotate(450deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.reset {
  width: 0%;
}

.confetti {
  height: 10px;
  width: 25px;
  position: fixed;
  top: 50%;
  left: 50%;
  opacity: 0;
}

.carrousel {
  max-width: 1400px;
  max-height: 90%;
  text-align: center;
  display: none;
  position: fixed;
  top: 15%;
  width: 80%;
  left: 10%;
  z-index: 3;
  padding: 2rem;
  border-radius: 15px;
}
.carrousel > button {
  font-size: 4rem;
  position: absolute;
  background: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1;
}
.carrousel > button > i {
  color: #0b3140;
}
.carrousel > button > i:hover {
  color: #ba5624;
}
.carrousel > button.right {
  top: 50%;
  right: -10%;
  transform: translate(-50%, -50%);
}
.carrousel > button.left {
  top: 50%;
  left: -10%;
  transform: translate(50%, -50%);
}
.carrousel > button.cross {
  font-size: 3rem;
  top: -40px;
  right: -40px;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0);
  border: none;
}
.carrousel > button.cross > i {
  color: #000000;
}
.carrousel > button.cross:hover > i {
  color: red;
}
.carrousel__image {
  position: relative;
}
.carrousel__image > img {
  box-shadow: 0px 0px 28px 0px #000000;
  max-width: 100%;
  border-radius: 10px;
  max-height: 70vh;
}

.introducing {
  background: #eeede9;
  display: flex;
  align-items: center;
  -moz-column-gap: 5rem;
  column-gap: 5rem;
  margin-top: 10rem;
}
@media only screen and (max-width: 480px) {
  .introducing {
    flex-direction: column;
    margin-top: 2.5rem;
  }
}
@media only screen and (min-width: 813px) and (max-width: 1024px) {
  .introducing {
    flex-direction: column;
    margin-top: 0rem;
  }
}
@media only screen and (min-width: 481px) and (max-width: 812px) {
  .introducing {
    flex-direction: column;
    margin-top: 2.5rem;
  }
}
.introducing__content {
  width: 70%;
}
@media only screen and (max-width: 480px) {
  .introducing__content {
    width: 98%;
  }
}
@media only screen and (min-width: 813px) and (max-width: 1024px) {
  .introducing__content {
    width: 95%;
  }
}
@media only screen and (min-width: 481px) and (max-width: 812px) {
  .introducing__content {
    width: 90%;
  }
}
.introducing__content__title {
  font-size: 3.3rem;
  position: relative;
}
@media only screen and (min-width: 813px) and (max-width: 1024px) {
  .introducing__content__title {
    margin-top: 2rem;
  }
}
.introducing__content__title__bonjour {
  color: #ba5624;
  font-family: "Fjalla One", sans-serif;
  font-size: 4rem;
}
.introducing__content__title__emote {
  padding-bottom: 0.3rem;
  font-size: 3.3rem;
  display: inline-block;
  transform-origin: bottom right;
  animation: rotateThisHand 1.2s ease-in-out infinite;
  position: relative;
  bottom: 7px;
}
.introducing__content__profession {
  color: #eeede9;
  background: #0b3140;
  font-size: 2.2rem;
  display: inline-block;
  margin: 0;
  padding: 0rem 1rem 0rem 0.3rem;
}
.introducing__content__description {
  font-size: 1.8rem;
  margin-top: 1rem;
}
.introducing__content__description__languages {
  color: #ba5624;
  font-weight: 600;
}
.introducing__illustration {
  min-width: 350px;
  max-width: 30%;
  position: relative;
}
@media only screen and (max-width: 480px) {
  .introducing__illustration {
    width: 98%;
    margin-top: 2rem;
  }
}
@media only screen and (min-width: 813px) and (max-width: 1024px) {
  .introducing__illustration {
    margin-top: 3rem;
  }
}
@media only screen and (min-width: 481px) and (max-width: 812px) {
  .introducing__illustration {
    margin-top: 2rem;
  }
}
.introducing__illustration:hover {
  cursor: grab;
}
.introducing__illustration > img {
  width: 100%;
  transform: rotate(30deg);
}
@media only screen and (max-width: 480px) {
  .introducing__illustration > img {
    transform: rotate(0deg);
  }
}
@media only screen and (min-width: 481px) and (max-width: 812px) {
  .introducing__illustration > img {
    transform: rotate(0deg);
  }
}

.skills {
  padding: 1.5rem;
  background: #eeede9;
}
.skills > div {
  display: flex;
  flex-direction: row-reverse;
  -moz-column-gap: 4rem;
  column-gap: 4rem;
  font-size: 1.35rem;
}
@media only screen and (max-width: 480px) {
  .skills > div {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media only screen and (min-width: 813px) and (max-width: 1024px) {
  .skills > div {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media only screen and (min-width: 481px) and (max-width: 812px) {
  .skills > div {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.skills__title {
  margin-top: 0;
  text-align: left;
}
@media only screen and (max-width: 480px) {
  .skills__title {
    text-align: center;
  }
}
@media only screen and (min-width: 813px) and (max-width: 1024px) {
  .skills__title {
    text-align: center;
  }
}
@media only screen and (min-width: 481px) and (max-width: 812px) {
  .skills__title {
    text-align: center;
  }
}
@media only screen and (max-width: 480px) {
  .skills__title__emojis {
    display: block;
  }
}
@media only screen and (min-width: 695px) and (max-width: 841px) {
  .skills__title__emojis {
    display: block;
  }
}
.skills__title__pen {
  display: inline-block;
  animation: moveThisPen 4s both ease-in-out infinite;
}
.skills__title__pen > span {
  display: inline-block;
  animation: shakeThisPen 0.2s both ease-in-out infinite;
  transform-origin: top right;
}
.skills__title__pen > span.animation__paused {
  animation-play-state: paused;
}
.skills__content {
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  row-gap: 1rem;
  align-items: center;
}
@media only screen and (max-width: 480px) {
  .skills__content {
    width: 98%;
  }
}
@media only screen and (min-width: 813px) and (max-width: 1024px) {
  .skills__content {
    justify-content: space-around;
  }
}
.skills__content__langages {
  border-radius: 20px;
  height: 200px;
  background: #ba5624;
  width: 360px;
}
.skills__content__langages__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px 20px 0px 0px;
  height: 30%;
  background: hsl(20, 70%, 60%);
}
.skills__content__langages__header > h3 {
  font-size: 2rem;
  font-family: "Fjalla One", sans-serif;
  margin-left: 1rem;
  color: #eeede9;
}
.skills__content__langages__header__dots {
  display: flex;
  margin-right: 1rem;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
}
.skills__content__langages__header__dots__red {
  height: 17px;
  width: 17px;
  border-radius: 50%;
  background: #e82727;
}
.skills__content__langages__header__dots__yellow {
  height: 17px;
  width: 17px;
  border-radius: 50%;
  background: #e8b527;
}
.skills__content__langages__header__dots__green {
  height: 17px;
  width: 17px;
  border-radius: 50%;
  background: #3ae827;
}
.skills__content__langages__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70%;
}
@media only screen and (max-width: 480px) {
  .skills__content__langages__list {
    flex-wrap: wrap;
    height: unset;
  }
}
.skills__content__langages__list > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media only screen and (max-width: 480px) {
  .skills__content__langages__list > div {
    width: 45%;
    justify-content: center;
  }
}
.skills__content__langages__list > div > img {
  width: 53px;
  margin-top: 1rem;
}
@media only screen and (max-width: 480px) {
  .skills__content__langages__list > div > img {
    width: 28px;
  }
}
.skills__content__langages__list > div > div {
  color: #eeede9;
  font-size: 1.2rem;
  margin-top: 0.5rem;
}
@media only screen and (max-width: 480px) {
  .skills__content__langages__list > div > div {
    font-size: 0.8rem;
  }
}
.skills__content__tools {
  border-radius: 20px;
  height: 200px;
  background: #0b3140;
  width: 360px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.skills__content__tools__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px 20px 0px 0px;
  height: 30%;
  background: hsl(196.9811320755, 50%, 25%);
}
.skills__content__tools__header > h3 {
  font-size: 2rem;
  font-family: "Fjalla One", sans-serif;
  margin-left: 1rem;
  color: #eeede9;
}
.skills__content__tools__header__dots {
  display: flex;
  margin-right: 1rem;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
}
.skills__content__tools__header__dots__red {
  height: 17px;
  width: 17px;
  border-radius: 50%;
  background: #e82727;
}
.skills__content__tools__header__dots__yellow {
  height: 17px;
  width: 17px;
  border-radius: 50%;
  background: #e8b527;
}
.skills__content__tools__header__dots__green {
  height: 17px;
  width: 17px;
  border-radius: 50%;
  background: #3ae827;
}
.skills__content__tools__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70%;
}
@media only screen and (max-width: 480px) {
  .skills__content__tools__list {
    flex-wrap: wrap;
    height: unset;
  }
}
.skills__content__tools__list > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media only screen and (max-width: 480px) {
  .skills__content__tools__list > div {
    width: 45%;
    justify-content: center;
  }
}
.skills__content__tools__list > div > img {
  width: 53px;
  margin-top: 1rem;
}
@media only screen and (max-width: 480px) {
  .skills__content__tools__list > div > img {
    width: 28px;
  }
}
.skills__content__tools__list > div > div {
  color: #eeede9;
  font-size: 1.2rem;
  margin-top: 0.5rem;
}
@media only screen and (max-width: 480px) {
  .skills__content__tools__list > div > div {
    font-size: 0.8rem;
  }
}

.experience {
  background: #eeede9;
}
@media only screen and (max-width: 480px) {
  .experience {
    padding: 3rem 1.6rem 3rem 1.6rem;
  }
}
.experience > div {
  display: flex;
  align-items: center;
  -moz-column-gap: 5rem;
  column-gap: 5rem;
  justify-content: space-between;
}
@media only screen and (max-width: 480px) {
  .experience > div {
    flex-direction: column;
  }
}
@media only screen and (min-width: 813px) and (max-width: 1024px) {
  .experience > div {
    flex-direction: column;
  }
}
@media only screen and (min-width: 481px) and (max-width: 812px) {
  .experience > div {
    flex-direction: column;
  }
}
.experience__content {
  width: 65%;
  font-size: 1.35rem;
}
@media only screen and (max-width: 480px) {
  .experience__content {
    width: 98%;
  }
}
@media only screen and (min-width: 813px) and (max-width: 1024px) {
  .experience__content {
    width: 75%;
  }
}
@media only screen and (min-width: 481px) and (max-width: 812px) {
  .experience__content {
    width: 85%;
  }
}
.experience__content > p {
  margin-bottom: 1.5rem;
}
.experience__content__dropdowns {
  margin-top: 1rem;
  overflow: hidden;
  padding-right: 7px;
  position: relative;
}
.experience__content__dropdowns__top {
  box-shadow: 3px 3px 2px 0px #000000;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3rem;
  margin-bottom: 1rem;
  position: relative;
  z-index: 2;
  margin-top: 0rem;
  background: #0b3140;
}
.experience__content__dropdowns__top > h3 {
  margin-left: 1.5rem;
  color: #eeede9;
}
.experience__content__dropdowns__top > button {
  border-radius: 50%;
  margin-right: 2rem;
  height: 40px;
  width: 40px;
  padding: 0;
  border: 1px solid #eeede9;
  position: relative;
  background: #eeede9;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1;
  cursor: pointer;
}
.experience__content__dropdowns__top > button:hover > i {
  color: hsl(196.9811320755, 50%, 25%);
}
.experience__content__dropdowns__top > button > i {
  text-align: center;
  font-size: 2rem;
  color: #0b3140;
  background: #eeede9;
  border-radius: 50%;
  text-align: center;
}
.experience__content__dropdowns__top > button > i.rotated {
  animation: rotateThisArrow 0.5s cubic-bezier(0, 0, 0.02, 0.96) forwards;
}
.experience__content__dropdowns__top > button > i.default {
  animation: rotateThisArrowBack 0.5s cubic-bezier(0, 0, 0.02, 0.96) forwards;
}
.experience__content__dropdowns__bottom {
  padding: 1rem;
  padding-top: 1.5rem;
  box-shadow: 2px 2px 2px 0px #000000;
  border-radius: 0px 0px 15px 15px;
  background: hsl(196.9811320755, 50%, 25%);
}
.experience__content__dropdowns__bottom > div {
  color: white;
}
.experience__content__dropdowns__bottom.default {
  display: none;
}
.experience__content__dropdowns__bottom__container {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}
.experience__content__dropdowns__bottom__container > p {
  color: #eeede9;
  margin-top: 1rem;
}
.experience__content__dropdowns__bottom__container__images {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  row-gap: 2rem;
}
@media only screen and (max-width: 480px) {
  .experience__content__dropdowns__bottom__container__images {
    flex-direction: column;
  }
}
@media only screen and (min-width: 481px) and (max-width: 812px) {
  .experience__content__dropdowns__bottom__container__images {
    flex-direction: column;
  }
}
@media only screen and (min-width: 813px) and (max-width: 1024px) {
  .experience__content__dropdowns__bottom__container__images {
    flex-direction: column;
  }
}
.experience__content__dropdowns__bottom__container__images > img {
  width: 45%;
  border-radius: 20px;
}
@media only screen and (max-width: 480px) {
  .experience__content__dropdowns__bottom__container__images > img {
    width: 90%;
  }
}
@media only screen and (min-width: 481px) and (max-width: 812px) {
  .experience__content__dropdowns__bottom__container__images > img {
    width: 90%;
  }
}
@media only screen and (min-width: 813px) and (max-width: 1024px) {
  .experience__content__dropdowns__bottom__container__images > img {
    width: 80%;
  }
}
.experience__content__dropdowns__bottom__container__images > img:hover {
  cursor: zoom-in;
}
.experience__content__dropdowns__bottom__container > a {
  text-align: center;
  background: #ba5624;
  width: 30%;
  margin: 0 auto;
  margin-top: 2rem;
  color: #eeede9;
  padding: 0.8rem;
  font-size: 1.6rem;
  border-radius: 50px;
  box-shadow: 0px 0px 6px 0px #000000;
  text-shadow: 0px 0px 5px black;
}
@media only screen and (min-width: 813px) and (max-width: 1024px) {
  .experience__content__dropdowns__bottom__container > a {
    width: 50%;
  }
}
@media only screen and (min-width: 481px) and (max-width: 812px) {
  .experience__content__dropdowns__bottom__container > a {
    width: 80%;
  }
}
@media only screen and (max-width: 480px) {
  .experience__content__dropdowns__bottom__container > a {
    width: 100%;
    border-radius: 15px;
  }
}
.experience__content__dropdowns__bottom__container > a:hover {
  background: hsl(20, 70%, 60%);
}
@media only screen and (max-width: 480px) {
  .experience__illustration {
    margin-top: 2rem;
    width: 98%;
  }
}
@media only screen and (min-width: 813px) and (max-width: 1024px) {
  .experience__illustration {
    margin-top: 3rem;
  }
}
@media only screen and (min-width: 481px) and (max-width: 812px) {
  .experience__illustration {
    margin-top: 2.5rem;
  }
}
.experience__illustration__attackscontainer {
  margin-bottom: 0.1rem;
  background: white;
  padding: 0.3rem;
  border: 3px #202926 solid;
  border-radius: 3px;
  height: 80px;
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 480px) {
  .experience__illustration__attackscontainer {
    width: 98%;
  }
}
.experience__illustration__attackscontainer__buttonscontainer {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 0.5rem;
}
.experience__illustration__attackscontainer__buttonscontainer > button {
  height: 26px;
  width: 49%;
  font-family: "VT323", monospace;
  font-size: 1.2rem;
  background: white;
  color: black;
  display: flex;
  justify-content: center;
  -moz-column-gap: 0.3rem;
  column-gap: 0.3rem;
  align-items: center;
  border: 2px outset #202926;
}
.experience__illustration__attackscontainer__buttonscontainer > button > i {
  display: none;
}
.experience__illustration__attackscontainer__buttonscontainer > button:hover {
  background: #a9a9a9;
}
.experience__illustration__attackscontainer__buttonscontainer > button:hover > i {
  display: inline;
  color: black;
  animation: blink 0.8s both ease-in-out infinite;
}
.experience__illustration__attackscontainer__textused {
  color: black;
  font-family: "VT323", monospace;
  display: none;
  margin-left: 0.5rem;
  text-align: left;
  font-size: 1.35rem;
}
.experience__illustration__attackscontainer__effects {
  color: black;
  font-family: "VT323", monospace;
  display: none;
  text-align: left;
  margin-left: 0.5rem;
  font-size: 1.35rem;
}
.experience__illustration__expcontainer {
  background: #202926;
  position: relative;
  width: 300px;
  border-radius: 3px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 4px solid #202926;
}
@media only screen and (max-width: 480px) {
  .experience__illustration__expcontainer {
    width: 98%;
  }
}
.experience__illustration__expcontainer.blinking {
  animation: blinkThisXpBar 0.35s both infinite;
}
.experience__illustration__expcontainer > h3 {
  background: rgb(150, 155, 92);
  background: linear-gradient(180deg, rgb(150, 155, 92) 0%, rgb(236, 223, 3) 56%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  margin: 0;
  font-family: "VT323", monospace;
  font-size: 1.5rem;
}
.experience__illustration__expcontainer__bar {
  border-radius: 3px;
  background: #cccaa7;
  width: 200px;
  height: 12px;
  position: relative;
}
.experience__illustration__expcontainer__bar__blue {
  position: relative;
  background: #5abedf;
  border-radius: 3px;
  width: 0%;
  height: 100%;
  z-index: 2;
}
.experience__illustration__expcontainer__bar__separators {
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  top: 0px;
  height: 100%;
  width: 100%;
  z-index: 1;
}
.experience__illustration__expcontainer__bar__separators__element {
  position: relative;
  background: #adb693;
  height: 100%;
  width: 2px;
  z-index: 1;
}

.about {
  background: #eeede9;
  -moz-column-gap: 2rem;
  column-gap: 2rem;
  display: flex;
}
@media only screen and (min-width: 813px) and (max-width: 1024px) {
  .about {
    flex-direction: column;
  }
}
@media only screen and (min-width: 481px) and (max-width: 812px) {
  .about {
    flex-direction: column;
  }
}
@media only screen and (max-width: 480px) {
  .about {
    flex-direction: column;
  }
}
.about__textcontent {
  display: flex;
  flex-direction: column;
  width: 70%;
  justify-content: space-around;
}
@media only screen and (min-width: 813px) and (max-width: 1024px) {
  .about__textcontent {
    width: 100%;
  }
}
@media only screen and (min-width: 481px) and (max-width: 812px) {
  .about__textcontent {
    width: 100%;
  }
}
@media only screen and (max-width: 480px) {
  .about__textcontent {
    width: 100%;
  }
}
.about__textcontent > h2 {
  text-align: left;
}
@media only screen and (max-width: 480px) {
  .about__textcontent > h2 {
    text-align: center;
  }
}
@media only screen and (min-width: 813px) and (max-width: 1024px) {
  .about__textcontent > h2 {
    text-align: center;
  }
}
@media only screen and (min-width: 481px) and (max-width: 812px) {
  .about__textcontent > h2 {
    text-align: center;
  }
}
.about__textcontent > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  text-align: right;
  -moz-column-gap: 3rem;
  column-gap: 3rem;
}
@media only screen and (max-width: 480px) {
  .about__textcontent > div {
    flex-direction: column;
  }
}
@media only screen and (min-width: 813px) and (max-width: 1024px) {
  .about__textcontent > div {
    flex-direction: column;
  }
}
@media only screen and (min-width: 481px) and (max-width: 812px) {
  .about__textcontent > div {
    flex-direction: column;
  }
}
.about__textcontent__content {
  font-size: 1.15rem;
  line-height: 1.7rem;
}
@media only screen and (max-width: 480px) {
  .about__textcontent__content {
    width: 98%;
  }
}
@media only screen and (min-width: 813px) and (max-width: 1024px) {
  .about__textcontent__content {
    width: 100%;
  }
}
@media only screen and (min-width: 481px) and (max-width: 812px) {
  .about__textcontent__content {
    width: 85%;
  }
}
.about__textcontent__content__description {
  text-align: justify;
}
@media only screen and (min-width: 813px) and (max-width: 1024px) {
  .about__illustration {
    display: none;
  }
}
@media only screen and (min-width: 481px) and (max-width: 812px) {
  .about__illustration {
    display: none;
  }
}
@media only screen and (max-width: 480px) {
  .about__illustration {
    display: none;
  }
}
.about__illustration > img {
  width: 100%;
  border-radius: 50px;
}
@media only screen and (max-width: 480px) {
  .about__illustration > img {
    margin-top: 3rem;
  }
}
@media only screen and (min-width: 813px) and (max-width: 1024px) {
  .about__illustration > img {
    margin-top: 4rem;
  }
}
@media only screen and (min-width: 481px) and (max-width: 812px) {
  .about__illustration > img {
    margin-top: 3.5rem;
  }
}
.about__illustrationMobile {
  display: none;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 5rem;
}
@media only screen and (min-width: 813px) and (max-width: 1024px) {
  .about__illustrationMobile {
    display: flex;
  }
}
@media only screen and (min-width: 481px) and (max-width: 812px) {
  .about__illustrationMobile {
    display: flex;
  }
}
@media only screen and (max-width: 480px) {
  .about__illustrationMobile {
    display: flex;
  }
}
.about__illustrationMobile > div {
  height: 10px;
  width: 10px;
  border-radius: 50%;
}
.about__illustrationMobile__dotsecondary {
  background: #0b3140;
  margin-top: -2rem;
}
@media only screen and (max-width: 480px) {
  .about__illustrationMobile__dotsecondary {
    margin-top: -1rem;
  }
}
.about__illustrationMobile__dottertiary {
  background: #ba5624;
  margin-top: 4rem;
}
@media only screen and (max-width: 480px) {
  .about__illustrationMobile__dottertiary {
    margin-top: 2rem;
  }
}
.about__illustrationMobile > i {
  font-size: 2rem;
}
@media only screen and (max-width: 480px) {
  .about__illustrationMobile > i {
    font-size: 1.5rem;
  }
}
.about__illustrationMobile > i.fa-cat {
  color: #ba5624;
}
.about__illustrationMobile > i.fa-lightbulb {
  color: #ba5624;
}
.about__illustrationMobile > i.fa-film {
  color: #ba5624;
}

footer {
  margin-top: 10rem;
  background: #0b3140;
  height: 7rem;
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 480px) {
  footer {
    margin-top: 4rem;
  }
}
@media only screen and (min-width: 813px) and (max-width: 1024px) {
  footer {
    margin-top: 6rem;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
}
.footer__icons {
  text-align: center;
  display: flex;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
}
.footer__icons > i {
  color: #eeede9;
  font-size: 2rem;
}
.footer__icons > a > i {
  color: #eeede9;
  font-size: 2rem;
}
.footer__icons > a > i:hover {
  color: #ba5624;
}
.footer__icons > button {
  cursor: pointer;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  color: #eeede9;
  font-size: 1.2rem;
}
.footer__icons > button > i {
  color: #eeede9;
  font-size: 1.7rem;
}
.footer__icons > button > i:hover {
  color: #ba5624;
}

.madeby {
  color: #eeede9;
  font-size: 0.9rem;
  font-style: italic;
}/*# sourceMappingURL=styles.css.map */