@import "../Utils/animations";
@import "../Utils/variables";
@import "../Utils/mixins";

// -------------------------------------   Out of bounds stuffs   -------------------------------------

.splitter {
  width: 100%;
  background: $color-tertiary;
  height: 2px;
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.reset {
  width: 0%;
}

.confetti {
  height: 10px;
  width: 25px;
  position: fixed;
  top: 50%;
  left: 50%;
  opacity: 0;
}

// -------------------------------------   Introduce   -------------------------------------

.introducing {
  margin-top: 5rem;
  display: flex;
  align-items: center;
  -moz-column-gap: 5rem;
  column-gap: 5rem;
  @include smartphone {
    flex-direction: column;
    margin-top: 2.5rem;
  }
  @include tablets {
    flex-direction: column;
    margin-top: 0rem;
  }
  @include landscapeSmartphone {
    flex-direction: column;
    margin-top: 2.5rem;
  }
  &__content {
    width: 70%;
    @include smartphone {
      width: 98%;
    }
    @include tablets {
      width: 95%;
    }
    @include landscapeSmartphone {
      width: 90%;
    }
    &__title {
      font-size: 4rem;
      position: relative;
      @include tablets {
        margin-top: 2rem;
      }
      &__emote {
        padding-bottom: 0.3rem;
        font-size: 3.3rem;
        display: inline-block;
        transform-origin: bottom right;
        -webkit-animation: rotateThisHand 1.2s ease-in-out infinite;
        animation: rotateThisHand 1.2s ease-in-out infinite;
        position: relative;
        bottom: 7px;
      }
    }
    &__description {
      font-size: 1.8rem;
    }
  }
  &__illustration {
    min-width: 350px;
    max-width: 30%;
    position: relative;
    @include smartphone {
      width: 98%;
      margin-top: 2rem;
    }
    @include tablets {
      margin-top: 3rem;
    }
    @include landscapeSmartphone {
      margin-top: 2rem;
    }
    &:hover {
      cursor: -webkit-grab;
      cursor: grab;
    }
    & > img {
      width: 100%;
      transform: rotate(30deg);
      @include smartphone {
        transform: rotate(0deg);
      }
      @include landscapeSmartphone {
        transform: rotate(0deg);
      }
    }
    & > figcaption {
      font-size: 0.7rem;
      margin-top: 2rem;
      color: #eeede9;
      position: absolute;
      top: 40%;
      left: 50%;
      text-align: center;
      transform: translate(-50%, -50%) rotate(30deg);
      font-size: 1.3rem;
      @include smartphone {
        transform: translate(-50%, -50%) rotate(0deg);
      }
      @include landscapeSmartphone {
        transform: translate(-50%, -50%) rotate(0deg);
      }
    }
  }
}

// -------------------------------------   Skills   -------------------------------------

.skills {
  & > div {
    display: flex;
    flex-direction: row-reverse;
    -moz-column-gap: 4rem;
    column-gap: 4rem;
    font-size: 1.35rem;
    @include smartphone {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    @include tablets {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    @include landscapeSmartphone {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  &__title {
    margin-top: 0;
    text-align: right;
    @include smartphone {
      text-align: center;
    }
    @include tablets {
      text-align: center;
    }
    @include landscapeSmartphone {
      text-align: center;
    }
    &__emojis {
      @include smartphone {
        display: block;
      }
      @include penEmojisBreakpoint {
        display: block;
      }
    }
    &__pen {
      display: inline-block;
      -webkit-animation: moveThisPen 4s both ease-in-out infinite;
      animation: moveThisPen 4s both ease-in-out infinite;
      & > span {
        display: inline-block;
        -webkit-animation: shakeThisPen 0.2s both ease-in-out infinite;
        animation: shakeThisPen 0.2s both ease-in-out infinite;
        transform-origin: top right;
        &.animation__paused {
          -webkit-animation-play-state: paused;
          animation-play-state: paused;
        }
      }
    }
  }
  &__content {
    width: 70%;
    text-align: right;
    @include smartphone {
      width: 98%;
    }
    &__langages {
      & > ul {
        list-style-position: inside;
        direction: rtl;
        padding-right: 0;
        @include smartphone {
          direction: ltr;
        }
        @include tablets {
          direction: ltr;
        }
        @include landscapeSmartphone {
          direction: ltr;
        }
      }
    }
    &__tools {
      & > ul {
        list-style-position: inside;
        direction: rtl;
        padding-right: 0;
        @include smartphone {
          direction: ltr;
        }
        @include tablets {
          direction: ltr;
        }
        @include landscapeSmartphone {
          direction: ltr;
        }
      }
    }
    &__plus {
      font-size: 0.9rem;
      font-style: italic;
    }
  }
  &__illustration {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    width: 30%;
    @include smartphone {
      width: 98%;
      margin-top: 2rem;
      margin-bottom: 2rem;
      flex-direction: column-reverse;
      row-gap: 1.5rem;
    }
    @include tablets {
      width: 60%;
      flex-direction: column-reverse;
      row-gap: 2rem;
      margin-top: 3rem;
      margin-bottom: 3rem;
    }
    @include landscapeSmartphone {
      width: 70%;
      flex-direction: column-reverse;
      row-gap: 2rem;
      margin-top: 3rem;
      margin-bottom: 3rem;
    }
    &__logos {
      text-align: center;
      & > img {
        -o-object-fit: cover;
        object-fit: cover;
        height: 35px;
      }
    }
    &__image {
      & > img {
        width: 100%;
        @include smartphone {
          width: 80%;
        }
      }
    }
  }
}

// -------------------------------------   Experience   -------------------------------------

.experience {
  & > div {
    display: flex;
    align-items: center;
    -moz-column-gap: 5rem;
    column-gap: 5rem;
    justify-content: space-between;
    @include smartphone {
      flex-direction: column;
    }
    @include tablets {
      flex-direction: column;
    }
    @include landscapeSmartphone {
      flex-direction: column;
    }
  }
  &__content {
    width: 65%;
    font-size: 1.35rem;
    @include smartphone {
      width: 98%;
    }
    @include tablets {
      width: 75%;
    }
    @include landscapeSmartphone {
      width: 85%;
    }
    & > ul {
      margin-left: 0px;
      padding-left: 1rem;
      & > li {
        margin-bottom: 1rem;
        &:hover {
          text-decoration: underline;
        }
        @include smartphone {
          margin-bottom: 1rem;
          text-align: left;
        }
        @include tablets {
          margin-bottom: 1rem;
          text-align: left;
        }
        @include landscapeSmartphone {
          text-align: left;
          margin-bottom: 1rem;
        }
        & > a {
          color: brighter-color($color-secondary);
        }
      }
    }
    & > p {
      @include tablets {
        margin-bottom: 2rem;
      }
    }
  }
  &__illustration {
    @include smartphone {
      margin-top: 2rem;
      width: 98%;
    }
    @include tablets {
      margin-top: 3rem;
    }
    @include landscapeSmartphone {
      margin-top: 2.5rem;
    }

    &__attackscontainer {
      margin-bottom: 0.1rem;
      background: white;
      padding: 0.3rem;
      border: 3px $color-black-gameboy solid;
      border-radius: 3px;
      height: 80px;
      display: flex;
      align-items: center;
      @include smartphone {
        width: 98%;
      }
      &__buttonscontainer {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-between;
        row-gap: 0.5rem;
        & > button {
          height: 26px;
          width: 49%;
          font-family: "VT323", monospace;
          font-size: 1.2rem;
          background: white;
          color: black;
          display: flex;
          justify-content: center;
          -moz-column-gap: 0.3rem;
          column-gap: 0.3rem;
          align-items: center;
          border: 2px outset $color-black-gameboy;
          & > i {
            display: none;
          }
          &:hover {
            background: #a9a9a9;
            & > i {
              display: inline;
              color: black;
              -webkit-animation: blink 0.8s both ease-in-out infinite;
              animation: blink 0.8s both ease-in-out infinite;
            }
          }
        }
      }
      &__textused {
        color: black;
        font-family: "VT323", monospace;
        display: none;
        margin-left: 0.5rem;
        text-align: left;
        font-size: 1.35rem;
      }
      &__effects {
        color: black;
        font-family: "VT323", monospace;
        display: none;
        text-align: left;
        margin-left: 0.5rem;
        font-size: 1.35rem;
      }
    }
    &__expcontainer {
      background: $color-black-gameboy;
      position: relative;
      width: 300px;
      border-radius: 3px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      border: 4px solid $color-black-gameboy;
      @include smartphone {
        width: 98%;
      }
      &.blinking {
        -webkit-animation: blinkThisXpBar 0.35s both infinite;
        animation: blinkThisXpBar 0.35s both infinite;
      }
      & > h3 {
        background: rgb(150, 155, 92);
        background: linear-gradient(
          180deg,
          rgba(150, 155, 92, 1) 0%,
          rgba(236, 223, 3, 1) 56%
        );
        background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-text-fill-color: transparent;
        font-weight: 600;
        margin: 0;
        font-family: "VT323", monospace;
        font-size: 1.5rem;
      }
      &__bar {
        border-radius: 3px;
        background: #cccaa7;
        width: 200px;
        height: 12px;
        position: relative;
        &__blue {
          position: relative;
          background: #5abedf;
          border-radius: 3px;
          width: 0%;
          height: 100%;
          z-index: 2;
        }
        &__separators {
          display: flex;
          justify-content: space-evenly;
          position: absolute;
          top: 0px;
          height: 100%;
          width: 100%;
          z-index: 1;
          &__element {
            position: relative;
            background: #adb693;
            height: 100%;
            width: 2px;
            z-index: 1;
          }
        }
      }
    }
  }
}

// -------------------------------------   About   -------------------------------------

.about {
  -moz-column-gap: 5rem;
  column-gap: 5rem;
  & > h2 {
    text-align: right;
    @include smartphone {
      text-align: center;
    }
    @include tablets {
      text-align: center;
    }
    @include landscapeSmartphone {
      text-align: center;
    }
  }
  & > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    text-align: right;
    -moz-column-gap: 3rem;
    column-gap: 3rem;
    @include smartphone {
      flex-direction: column;
    }
    @include tablets {
      flex-direction: column;
    }
    @include landscapeSmartphone {
      flex-direction: column;
    }
  }
  &__content {
    font-size: 1.15rem;
    width: 70%;
    line-height: 1.7rem;
    @include smartphone {
      width: 98%;
    }
    @include tablets {
      width: 80%;
    }
    @include landscapeSmartphone {
      width: 85%;
    }
    &__description {
      text-align: justify;
    }
  }
  &__illustration {
    & > img {
      border-radius: 50px;
      @include smartphone {
        margin-top: 3rem;
      }
      @include tablets {
        margin-top: 4rem;
      }
      @include landscapeSmartphone {
        margin-top: 3.5rem;
      }
    }
  }
}
