@import "../Utils/mixins";
@import "../Utils/variables";

@-webkit-keyframes rotateThisHand {
  0% {
    transform: rotate(-10deg);
  }
  10% {
    transform: rotate(10deg);
  }
  20% {
    transform: rotate(-10deg);
  }
  30% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}

@keyframes rotateThisHand {
  0% {
    transform: rotate(-10deg);
  }
  10% {
    transform: rotate(10deg);
  }
  20% {
    transform: rotate(-10deg);
  }
  30% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}

@-webkit-keyframes moveThisPen {
  0% {
    transform: translate(-82%, -50%);
  }
  10% {
    transform: translate(-52%, -50%);
  }
  18% {
    transform: translate(-82%, -43%);
  }
  26% {
    transform: translate(-52%, -43%);
  }
  34% {
    transform: translate(-82%, -36%);
  }
  42% {
    transform: translate(-52%, -36%);
  }
  50% {
    transform: translate(-82%, -29%);
  }
  58% {
    transform: translate(-52%, -29%);
  }
  62% {
    transform: translate(0, 0);
  }
  90% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-82%, -50%);
  }
}

@keyframes moveThisPen {
  0% {
    transform: translate(-82%, -50%);
  }
  10% {
    transform: translate(-52%, -50%);
  }
  18% {
    transform: translate(-82%, -43%);
  }
  26% {
    transform: translate(-52%, -43%);
  }
  34% {
    transform: translate(-82%, -36%);
  }
  42% {
    transform: translate(-52%, -36%);
  }
  50% {
    transform: translate(-82%, -29%);
  }
  58% {
    transform: translate(-52%, -29%);
  }
  62% {
    transform: translate(0, 0);
  }
  90% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-82%, -50%);
  }
}

@-webkit-keyframes shakeThisPen {
  0% {
    transform: rotate(0deg);
  }
  35% {
    transform: rotate(2deg);
  }
  70% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0);
  }
}

@keyframes shakeThisPen {
  0% {
    transform: rotate(0deg);
  }
  35% {
    transform: rotate(2deg);
  }
  70% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0);
  }
}

// Pour l'effet sur la barre d'xp

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes menuSpawn {
  0% {
    margin: 0rem 0rem -15rem 0rem;
  }
  100% {
    margin: 1.5rem 0rem 0rem 0rem;
  }
}

@keyframes menuSpawn {
  0% {
    margin: 0rem 0rem -15rem 0rem;
  }
  100% {
    margin: 1.5rem 0rem 0rem 0rem;
  }
}

@-webkit-keyframes menuSpawnTablets {
  0% {
    margin: 0rem 0rem -10.5rem 0rem;
  }
  100% {
    margin: 3rem 0rem 0rem 0rem;
  }
}

@keyframes menuSpawnTablets {
  0% {
    margin: 0rem 0rem -10.5rem 0rem;
  }
  100% {
    margin: 3rem 0rem 0rem 0rem;
  }
}

@-webkit-keyframes menuFade {
  0% {
    margin: 1.5rem 0rem 0rem 0rem;
  }
  100% {
    margin: 0rem 0rem -15rem 0rem;
  }
}

@keyframes menuFade {
  0% {
    margin: 1.5rem 0rem 0rem 0rem;
  }
  100% {
    margin: 0rem 0rem -15rem 0rem;
  }
}

@-webkit-keyframes menuFadeTablets {
  0% {
    margin: 3rem 0rem 0rem 0rem;
  }
  100% {
    margin: 0rem 0rem -10.5rem 0rem;
  }
}

@keyframes menuFadeTablets {
  0% {
    margin: 3rem 0rem 0rem 0rem;
  }
  100% {
    margin: 0rem 0rem -10.5rem 0rem;
  }
}

@-webkit-keyframes blinkThisXpBar {
  0% {
    border: 4px solid #def9ff;
  }
  50% {
    border: 4px solid $color-black-gameboy;
  }
  100% {
    border: 4px solid #def9ff;
  }
}

@keyframes blinkThisXpBar {
  0% {
    border: 4px solid #def9ff;
  }
  50% {
    border: 4px solid $color-black-gameboy;
  }
  100% {
    border: 4px solid #def9ff;
  }
}

@keyframes rotateThisArrow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(450deg);
  }
}

@keyframes rotateThisArrowBack {
  0% {
    transform: rotate(450deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
